
.start{
    position: absolute;
    width: 550px;
    height: 550px;
    left: 400px;
    top: 112px;
    background: #F5F7FB;
}

.start--header{
    position: absolute;
    width: 412px;
    height: 41px;
    left: 70px;
    top: 180px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;

    color: #293264;
}

.start--description{
    position: absolute;
    width: 318px;
    height: 19px;
    left: 117px;
    top: 266px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
}

.start--button{
    position: absolute;
    width: 193px;
    height: 52px;
    left: 179px;
    top: 314px;

    background: #4D5B9E;
    border-radius: 15px;
}
